<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLXM_8.Properties.Settings.qlxmConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\qlxm.mdb"
            providerName="System.Data.OleDb" />
        <add name="QLXM.Properties.Settings.qlxmConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\qlxm.mdb"
            providerName="System.Data.OleDb" />
        <add name="QLXM.Properties.Settings.qlxmshopConnectionString"
            connectionString="Data Source=desktop-b6h5u2o\sqlexpress;Initial Catalog=qlxmshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>