USE [master]
GO
/****** Object:  Database [qlxmshop]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE DATABASE [qlxmshop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlxmshop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\qlxmshop.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'qlxmshop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\qlxmshop_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlxmshop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlxmshop]
GO
/****** Object:  Table [dbo].[BaoHanh]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaoHanh](
	[MaBH] [char](20) NOT NULL,
	[MaXe] [int] NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[Xe] [nvarchar](20) NULL,
	[SoKhung] [int] NULL,
	[SoMay] [int] NULL,
	[ThoigianBH] [char](20) NULL,
 CONSTRAINT [PK_BAOHANH] PRIMARY KEY NONCLUSTERED 
(
	[MaBH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hoa_Don_Thanh_Toan]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hoa_Don_Thanh_Toan](
	[MaNCC] [char](50) NOT NULL,
	[MaNV] [char](30) NOT NULL,
	[MaHD] [char](50) NOT NULL,
	[ThanhTien] [int] NULL,
	[Soluong] [int] NULL,
	[NgayLap] [datetime] NULL,
 CONSTRAINT [PK_HOA_DON_THANH_TOAN] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon_Ban_Xe]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon_Ban_Xe](
	[MaXe] [int] NOT NULL,
	[MaKH] [char](20) NOT NULL,
	[MaNV] [char](30) NOT NULL,
	[MaHD] [char](50) NOT NULL,
	[MauSac] [nvarchar](50) NULL,
	[DonGia] [int] NULL,
	[NgayLap] [date] NULL,
	[SoKhung] [int] NULL,
	[SoMay] [int] NULL,
 CONSTRAINT [PK_HOADON_BAN_XE] PRIMARY KEY CLUSTERED 
(
	[MaXe] ASC,
	[MaKH] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](20) NOT NULL,
	[HoTenKh] [nvarchar](100) NULL,
	[DiaChiKH] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[SoCMT] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Login]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[UserName] [char](20) NULL,
	[PassWord] [char](20) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Model_Xe]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Model_Xe](
	[MaDX] [char](20) NOT NULL,
	[MaNCC] [char](50) NOT NULL,
	[TenDX] [nvarchar](50) NULL,
	[NamSX] [int] NULL,
	[MauDX] [nvarchar](20) NULL,
	[Soluong] [int] NULL,
	[Gia] [int] NULL,
 CONSTRAINT [PK_MODEL_XE] PRIMARY KEY NONCLUSTERED 
(
	[MaDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nha_Cung_Cap]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nha_Cung_Cap](
	[MaNCC] [char](50) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[Diachi] [nvarchar](100) NULL,
	[SDT] [int] NULL,
	[Email] [char](100) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY NONCLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_IDENTIFIER_1_NHA_CUNG] UNIQUE NONCLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nhan_Vien]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nhan_Vien](
	[MaNV] [char](30) NOT NULL,
	[HotenNV] [nvarchar](100) NULL,
	[SoCMT] [int] NULL,
	[Diachi] [nvarchar](100) NULL,
	[ChuyenMon] [nvarchar](20) NULL,
	[Luong] [int] NULL,
 CONSTRAINT [PK_NHAN_VIEN] PRIMARY KEY NONCLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Phieu_Nhap_Hang]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Phieu_Nhap_Hang](
	[MaDX] [char](20) NOT NULL,
	[MaNV] [char](30) NOT NULL,
	[MaNCC] [char](50) NOT NULL,
	[MaPhieuNhap] [char](20) NOT NULL,
	[Soluong] [int] NULL,
	[DonGia] [int] NULL,
	[NgayLap] [char](20) NULL,
	[TongTien] [int] NULL,
 CONSTRAINT [PK_Phieu_Nhap_Hang_1] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Xe](
	[MaXe] [int] NOT NULL,
	[MaDX] [char](20) NOT NULL,
	[MaNV] [char](30) NOT NULL,
	[MaKH] [char](20) NOT NULL,
	[TenXe] [nchar](20) NULL,
	[SoKhung] [int] NOT NULL,
	[SoMay] [int] NOT NULL,
	[Mau] [nvarchar](20) NULL,
	[Gia] [int] NULL,
 CONSTRAINT [PK_XE] PRIMARY KEY NONCLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_IDENTIFIER_1_XE] UNIQUE NONCLUSTERED 
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_IDENTIFIER_2_XE] UNIQUE NONCLUSTERED 
(
	[SoKhung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [AK_IDENTIFIER_4_XE] UNIQUE NONCLUSTERED 
(
	[SoMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[RPBanXe]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RPBanXe]
AS
SELECT       dbo.Xe.MaXe, dbo.Model_Xe.TenDX, dbo.Xe.SoKhung, dbo.Xe.SoMay, dbo.HoaDon_Ban_Xe.MaHD, dbo.Xe.MaKH, dbo.Model_Xe.NamSX, dbo.HoaDon_Ban_Xe.DonGia, dbo.HoaDon_Ban_Xe.NgayLap, 
                         dbo.HoaDon_Ban_Xe.MauSac
FROM            dbo.HoaDon_Ban_Xe INNER JOIN
                         dbo.Xe ON dbo.HoaDon_Ban_Xe.MaXe = dbo.Xe.MaXe CROSS JOIN
                         dbo.Model_Xe

GO
/****** Object:  View [dbo].[v_PhieuNhap]    Script Date: 28/04/2017 5:29:40 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_PhieuNhap]
AS
SELECT       dbo.Phieu_Nhap_Hang.MaDX, dbo.Phieu_Nhap_Hang.MaNV, dbo.Nha_Cung_Cap.TenNCC, dbo.Phieu_Nhap_Hang.MaPhieuNhap, dbo.Phieu_Nhap_Hang.Soluong
FROM            dbo.Phieu_Nhap_Hang INNER JOIN
                         dbo.Nha_Cung_Cap ON dbo.Phieu_Nhap_Hang.MaNCC = dbo.Nha_Cung_Cap.MaNCC

GO
/****** Object:  Index [ThuocBH_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [ThuocBH_FK] ON [dbo].[BaoHanh]
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Hoa_Don_Thanh_Toan_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [Hoa_Don_Thanh_Toan_FK] ON [dbo].[Hoa_Don_Thanh_Toan]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Hoa_Don_Thanh_Toan2_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [Hoa_Don_Thanh_Toan2_FK] ON [dbo].[Hoa_Don_Thanh_Toan]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HoaDon_Ban_Xe_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [HoaDon_Ban_Xe_FK] ON [dbo].[HoaDon_Ban_Xe]
(
	[MaXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [HoaDon_Ban_Xe2_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [HoaDon_Ban_Xe2_FK] ON [dbo].[HoaDon_Ban_Xe]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [HoaDon_Ban_Xe3_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [HoaDon_Ban_Xe3_FK] ON [dbo].[HoaDon_Ban_Xe]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [ThuocNCCX_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [ThuocNCCX_FK] ON [dbo].[Model_Xe]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Phieu_Nhap_Hang_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [Phieu_Nhap_Hang_FK] ON [dbo].[Phieu_Nhap_Hang]
(
	[MaDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Phieu_Nhap_Hang2_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [Phieu_Nhap_Hang2_FK] ON [dbo].[Phieu_Nhap_Hang]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Phieu_Nhap_Hang3_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [Phieu_Nhap_Hang3_FK] ON [dbo].[Phieu_Nhap_Hang]
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Ban_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [Ban_FK] ON [dbo].[Xe]
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Mua_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [Mua_FK] ON [dbo].[Xe]
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Thuoc_FK]    Script Date: 28/04/2017 5:29:40 SA ******/
CREATE NONCLUSTERED INDEX [Thuoc_FK] ON [dbo].[Xe]
(
	[MaDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[35] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "HoaDon_Ban_Xe"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 169
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Model_Xe"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 160
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 2
         End
         Begin Table = "Xe"
            Begin Extent = 
               Top = 6
               Left = 454
               Bottom = 136
               Right = 624
            End
            DisplayFlags = 280
            TopColumn = 5
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RPBanXe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RPBanXe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Phieu_Nhap_Hang"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 173
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Nha_Cung_Cap"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_PhieuNhap'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_PhieuNhap'
GO
USE [master]
GO
